*{
  margin: 0;
}

nav{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar_img{
  width: 160px;
}
.App {
  text-align: center;
}
.searchBar_container{
 display: flex;
 margin: 0px auto;
 padding: 0 20px;
 align-items: center;
}
.searchBar{
  background-color: white;
  margin-right: 20px;
}
.searchBar input{
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  border: none;
  padding: 10px;
}
.searchBar_btn button{
  background-color: lightseagreen;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  height: 40px;
  color: white;
}
.pokedex-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}
.pokedex-grid{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,1fr);
}



